$header-height: 128px;
$white: #fff;

.app {
    text-align: center;
    width: 100%;
}

.app-intro {
    display: block;
    font-size: large;
}

h1 {
    text-transform: capitalize;
}

.loading {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;

    img {
        display: block;
        width: 25%;
    }
}

.container {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 32px;
    width: 100%;

    .title-section {
        align-items: center;
        display: flex;
        height: 96px;
        justify-content: center;

        img {
            display: block;
            width: 112px;
        }
    }

    .info {
        display: flex;
        margin: 16px;
        width: 100%;

        @media(max-width: 480px) {
            flex-direction: column;
        }
    }

    .pokeball {
        cursor: pointer;
        height: 96px;
        width: 96px;

        img {
            width: 100%;
        }

        &:hover {
            opacity: .3;
        }
    }
}

.pokemon-section {
    display: block;
    float: left;
    height: 256px;
    width: 50%;

    img {
        float: right;
        height: 100%;
    }

    @media(max-width: 480px) {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.stats-info {
    display: block;
    float: left;
    width: 50%;

    .stat {
        align-items: center;
        display: flex;
        padding: 8px;

        .stat-icon {
            height: 24px;
            margin-right: 16px;
            width: 24px;
        }

        .stat-bar {
            display: block;
            height: 8px;
        }
    }

    @media(max-width: 480px) {
        width: 100%;
    }
}
