$background-color: #181b1d;
$header-height: 128px;
$white: #fff;

.app {
    height: 100%;
    text-align: center;
    width: 100%;
}

.app-header {
    align-items: center;
    background-color: $background-color;
    color: $white;
    display: flex;
    height: $header-height;
    justify-content: center;
}

.app-intro {
    background-color: $background-color;
    display: block;
    font-size: large;
    height: calc(100% - #{$header-height});
}

h1 {
    text-transform: capitalize;
}

.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    img {
        display: block;
        width: 25%;
    }
}

.container {
    align-items: center;
    bottom: $header-height;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .title-section {
        display: block;

        img {
            display: inline-block;
            width: 112px;
        }
    }

    .info {
        bottom: 5%;
        margin: 16px;
        position: relative;
        width: 100%;
    }

    .pokeball {
        width: 8%;

        img {
            width: 100%;
        }

        &:hover {
            opacity: .3;
        }
    }
}

.pokemon-section {
    display: inline-block;
    height: 100%;
    width: 50%;

    img {
        float: right;
        height: 100%;
        margin-right: 128px;
    }
}

.stats-info {
    display: inline-block;
    width: 50%;

    .stat {
        align-items: center;
        display: flex;
        padding: 8px;

        .stat-icon {
            height: 24px;
            margin-right: 16px;
            width: 24px;
        }

        .stat-bar {
            display: block;
            height: 8px;
        }
    }
}
